:root {
    --accent-color:#3d64ff;
    --accent-hover-color:#00e;
    --aside-panel-width:26vw;
    --blue-color:#1a9bdd;
    --bt-border-color:#dee2e6;
    --dark-color:#000;
    --dark-gray-color:#7f7f7f;
    --gray-color:#ccc;
    --green-color:#39bd19;
    --light-color:#fff;
    --lightest-gray-color:#fbfbfb;
    --light-gray-color:#e8e9ed;
    --orange-color:#e48325;
    --purple-color:#ad16bd;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
body {
    background-color: var(--dark-color);
    font-family: var(--primary-font);
}
.aside-panel {
    flex: 0 0 var(--aside-panel-width);
    min-height: 0;
    min-width: 0;
    transition: flex-basis .5s;
}
.aside-panel div {
    visibility: visible;
}
.aside-panel.collapsed {
    flex: 0 0 0;
}
.aside-panel.collapsed div {
    visibility: hidden;
}
.aside-panel.collapsed .content-area,
.aside-panel.collapsed .helping-center-line {
    margin-left: calc(var(--aside-panel-width) * -1);
}
.aside-panel .content-area {
    background: var(--light-color);
    height: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: visible;
    position: fixed;
    top: 0;
    transition: all .5s;
    width: var(--aside-panel-width);
}
.aside-panel .content-area h6 ~ p, .aside-panel .content-area h6 + div {
    font-size: .875rem;
}
.aside-panel.collapsed .open-close-area {
    left: 0;
}
.aside-panel .open-close-area {
    position: fixed;
    left: var(--aside-panel-width);
    opacity: 1;
    top: 0;
    width: 40px;
    height: 40px;
    transition: left .5s;
    z-index: 9;
}
.aside-panel .open-close-area a {
    display: block;
    background-color: var(--dark-color);
    color: var(--light-color);
    line-height: 40px;
    text-align: center;
}
.aside-panel .content-area .helping-center-line {
    background-color: var(--lightest-gray-color);
    bottom: 0;
    box-shadow: 0 4px 14px 0 rgba(50, 50, 50, .3);
    font-family: var(--secondary-font);
    left: 0;
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    position: fixed;
    text-align: center;
    transition: all .5s;
    width: var(--aside-panel-width);
    z-index: 2;
}
.aside-panel .content-area small {
    font-size: .875rem;
}
.aside-panel .content-area .social-icons {
    display: flex;
    align-items: center;
}
.aside-panel .content-area .social-icons > a {
    background: var(--gray-color);
    color: var(--dark-gray-color);
    display: inline-block;
    line-height: 30px;
    margin-left: .5rem;
    height: 30px;
    width: 30px;
}
.aside-panel .header {
    background: var(--light-color);
    box-shadow: 0 4px 14px 0 rgba(50, 50, 50, .3);
    left: 0;
    position: fixed;
    transition: width .5s;
    top: 0;
    width: var(--aside-panel-width);
    z-index: 1;
}
.aside-panel .header .dropdown .btn {
    font-family: var(--primary-font);
    font-weight: 900;
}
.aside-panel .header .dropdown > .btn {
    background: transparent;
    border: 0;
    border-top: 5px solid var(--gray-color);
    color: var(--dark-gray-color);
    padding-left: .5rem;
    padding-right: .5rem;
}
.aside-panel .header .dropdown > .btn:hover,
.aside-panel .header .dropdown.show > .btn {
    background: var(--light-gray-color);
    border-color: var(--accent-color);
    color: var(--dark-color);
}
.aside-panel .header .logo img {
    margin: 5px 0px;
    max-height: 50px;
}
.aside-panel.collapsed .header {
    width:0;
}
.aside-panel.collapsed .page-section {
    opacity: 0;
    transition: opacity 1s ease-in-out 1s;
}
.aside-panel img {
    max-width: 100%;
}
.aside-panel .page-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;
    opacity: 1;
    transition: opacity 1s ease-in-out 1s;
}
.aside-panel .page-section .community-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
}

.aside-panel .page-section .community-links li {
    display: inline-block;
}
.aside-panel .page-section .community-links li:first-of-type {
    padding: 0;
}
.aside-panel .page-section .community-links li a {
    background: var(--green-color);
    border: 0;
    border-radius: 0;
    color: var(--light-color);
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: .875rem;
    font-weight: bold;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
}
.aside-panel .page-section .community-links li:nth-of-type(2) a {
    background:var(--blue-color);
}
.aside-panel .page-section .community-links li:nth-of-type(3) a {
    background:var(--orange-color);
}
.aside-panel .page-section .community-links li:nth-of-type(4) a {
    background:var(--purple-color);
}
.aside-panel .page-section .community-links li a:hover {
    filter: brightness(85%);
}
.aside-panel .page-section .community-summary-title,
.aside-panel .page-section .community-summary,
.aside-panel .page-section .community-details-title,
.aside-panel .page-section .community-details,
.aside-panel .page-section .community-additional-info-title,
.aside-panel .page-section .community-additional-info {
    display: none;
}
.aside-panel .page-section h6 {
    color:green;
}
.aside-panel .page-section .community-details,
.popup .comm-info .community-details {
    display: flex;
    flex-flow: row wrap;
}
.aside-panel .page-section .community-details > div,
.popup .comm-info .community-details > div {
    border-bottom: 1px solid var(--light-gray-color);
    flex:0 0 66.666667%;
    max-width:66.666667%;
    padding: .5rem 0;
}
.aside-panel .page-section .community-details > div:nth-child(1),
.aside-panel .page-section .community-details > div:nth-child(2),
.popup .comm-info .community-details > div:nth-child(1),
.popup .comm-info .community-details > div:nth-child(2) {
    border-top: 1px solid var(--light-gray-color);
}
.aside-panel .page-section .community-details > div:nth-child(odd),
.popup .comm-info .community-details > div:nth-child(odd) {
    color: var(--dark-gray-color);
    flex:0 0 33.333333%;
    font-weight: 700;
    max-width:33.333333%;
    padding-right:.5rem
}
.btn {
    border: 0;
    border-radius: 0;
    font-family: var(--secondary-font);
    font-size: .875rem;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.btn:not(.dropdown-toggle) {
    text-transform: uppercase;
}
.btn[type="submit"] {
    background: var(--accent-color);
    color: var(--light-color);
}
.dropdown-toggle {
    min-height: 35px;
}
.dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
    color: var(--accent-color);
}
.fa-angle-left:before {
    font-weight: bold;
}
form label {
    font-size: .875rem;
    font-weight: 700;
}
.form-communities-search .btn {
    text-transform: uppercase;
}
.form-control {
    border-radius: 0;
}
.form-control[type="text"], .form-control[type="email"], .form-control[type="password"], select.form-control {
    border-color: var(--gray-color);
    color: var(--dark-color);
    font-family: var(--primary-font);
    font-size: .875rem;
}
.form-group {
    position: relative;
}
.form-field-error > label {
    color:red;
}
.form-field-error::after {
    background: var(--light-color);
    content:attr(error-message);
    color:red;
    display:block;
    font-size:.75rem;
    left:0;
    line-height:1;
    padding-top:.25rem;
    position:absolute;
    right:-10px;
    top:100%;
    z-index:1;
}
.form-group.has-icon {
    position: relative;
}
.form-group.has-icon .form-control {
    padding-right: 40px;
}
.form-group.has-icon .form-control-icon {
    color: var(--dark-gray-color);
    height: 35px;
    line-height: 35px;
    position: absolute;
    right:0;
    bottom:0;
    width: 20px;
}
#google-sheets {
    position: fixed;
    left:1rem;
    right:1rem;
    bottom:1rem;
}
h5 {
    border-bottom: 1px solid var(--light-gray-color);
    color:var(--dark-color);
    margin: 0;
    padding: 0 0 .5rem;
}
h6 {
    color:var(--dark-gray-color);
    margin-top:1.5rem;
}
h5, h6 {
    font-family: var(--secondary-font);
    font-weight: 900;
    text-transform: uppercase;
}
main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.popup {
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.5);
    color: black;
    font-family: 'Roboto', sans-serif;
    left: 20px;
    opacity: 0;
    position: absolute;
    width: 600px;
    transition: opacity 300ms, transform 300ms;
    top: 20px;
    z-index: 1;
}
.popup.arrow:before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
}
.popup.arrow.down:before{
    bottom: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--light-color);
    left:50%;
    transform: translateX(-50%);
}
.popup.arrow.up:before{
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
    left:50%;
    transform: translateX(-50%);
}
.popup.arrow.left:before{
    bottom: 50%;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid var(--light-color);
    right:100%;
    transform: translateY(-50%);
}
.popup.arrow.right:before{
    bottom: 50%;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid var(--light-color);
    left:100%;
    transform: translateY(-50%);
}
.popup .btn {
    display: inline-block;
    font-weight: 600;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: uppercase;
}
.popup .caption .buttons li:nth-of-type(1) .btn {
    background: var(--accent-color);
    border-color:transparent!important;
    color:var(--light-color);
}
/*.popup .caption .buttons li:nth-of-type(1) .btn:hover {*/
/*    background: var(--accent-hover-color);*/
/*    color:var(--light-color);*/
/*}*/
/*.popup .caption .buttons li:nth-of-type(2) .btn {*/
/*    color: var(--green-color);*/
/*}*/
.popup .caption .buttons li:nth-of-type(2) .btn {
    background: var(--green-color);
    color:var(--light-color);
}
/*.popup .caption .buttons li:nth-of-type(3) .btn {*/
/*    color: var(--blue-color);*/
/*}*/
.popup .caption .buttons li:nth-of-type(3) .btn {
    background: var(--blue-color);
    color: var(--light-color);
}
/*.popup .caption .buttons li:nth-of-type(4) .btn {*/
/*    color: var(--orange-color);*/
/*}*/
.popup .caption .buttons li:nth-of-type(4) .btn {
    background: var(--orange-color);
    color:var(--light-color);
}
/*.popup .caption .buttons li:nth-of-type(5) .btn {*/
/*    color: var(--purple-color);*/
/*}*/
.popup .caption .buttons li:nth-of-type(5) .btn {
    background: var(--purple-color);
    color:var(--light-color);
}
.popup .caption {
    display: none;
    padding: 15px;
}
.popup .caption .buttons {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.popup .caption .buttons .btn {
    border: 2px solid var(--light-gray-color);
    display: block;
    font-weight: 900;
    margin-top:.5rem;
}
.popup .caption .buttons .btn:hover {
    border-color:transparent;
}
.popup .caption .buttons .btn ~ .btn {
    margin-top:.5rem;
}
.popup .caption .caption-title {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
}
.popup .caption .caption-text {
    color: var(--dark-gray-color);
    display: none;
    font-size: .75rem;
    padding: .5rem 0;
}
.popup .close {
    align-items: center;
    background: var(--accent-color);
    box-shadow: inset 0 0 0 2px var(--light-gray-color);
    border-radius: 50%;
    color:var(--light-gray-color);
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    height: 2.75rem;
    line-height: 2.75rem;
    justify-content: center;
    opacity: 1!important;
    position: absolute;
    right: -20px;
    text-align: center;
    text-decoration: none;
    top: -20px;
    width: 2.75rem;
    z-index: 1;
}
.popup .close:hover {
    background: var(--accent-hover-color);
}
.popup img {
    height: auto;
    width: 100%;
}
.selectpicker + .btn {
    border:1px solid var(--gray-color);
}
svg {
    height:100%;
    width:auto;
}
@media not all and (min-resolution: 0.001dpcm) { /* Safari only */
    svg {
        min-width:100%;
    }
}
svg > a polygon {
    stroke: var(--gray-color);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-opacity: 0;
}
svg > foreignObject {
    display:none;
    opacity: 0;
    pointer-events: none;
}
svg > rect {
    fill: var(--dark-color);
    opacity: 0;
    transition: opacity 300ms;
    pointer-events: none;
}
svg > rect:target {
    opacity: 0.66;
    pointer-events: auto;
}
svg > rect:target + foreignObject {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
/*svg > rect:target + foreignObject .popup {
    opacity: 1;
}*/
svg > rect:target + foreignObject ~ a {
    pointer-events: none;
}
svg > rect:not(:target) ~ a:hover polygon {
    fill:var(--dark-color);
    fill-opacity: .33;
    stroke-opacity: 1;
}
svg > rect:target + foreignObject + a polygon {
    fill-opacity: 0!important;
    stroke-opacity: 1;
}
svg > #BiltmoreFairwayLodge + foreignObject {
    x:120;
    y:290;
}
svg > #TwoBiltmoreEstates + foreignObject {
    x:920;
    y:400;
}
svg > #BiltmoreSquare + foreignObject {
    x:290;
    y:160;
}
svg > #BiltmoreCourts + foreignObject {
    x:460;
    y:190;
}
svg > #\32 211 + foreignObject {
    x:230;
    y:540;
}
svg > #EsplanadePlace + foreignObject {
   x:450;
   y:630;
}
svg > #Optima + foreignObject {
   x:270;
   y:630;
}
svg > #VillageOnTheLakes + foreignObject {
    x:470;
    y:540;
}
svg > #BiltmoreGates + foreignObject {
    x:190;
    y:70;
}
svg > #BiltmoreGreens + foreignObject {
    x:420;
    y:130;
}
svg > #Meridian + foreignObject {
    x:490;
    y:630;
}
svg > #BiltmoreTerrace + foreignObject {
    x:380;
    y:700;
}
svg > #BiltmoreCircleEstates + foreignObject {
    x:380;
    y:170;
}
svg > #Taliverde + foreignObject {
    x:280;
    y:450;
}
svg > #ColonyBiltmoreGreens + foreignObject {
    x:340;
    y:510;
}
svg > #BiltmoreCourtsIi + foreignObject {
    x:450;
    y:180;
}
svg > #HeightsOfTheBiltmore + foreignObject {
    x:110;
    y:370;
}
svg > #BiltmoreHillsideVillas + foreignObject {
    x:360;
    y:0;
}
svg > #TheCloisters + foreignObject {
    x:30;
    y:290;
}
svg > #BiltmoreShores + foreignObject {
    x:370;
    y:480;
}
svg > #BiltmoreMountainEstates + foreignObject {
    x:630;
    y:200;
}
svg > #LincolnHills + foreignObject {
    x:1010;
    y:170;
}
svg > #AltaVistaPark + foreignObject {
    x:590;
    y:180;
}
svg > #BiltmoreHotelVillas + foreignObject {
    x:640px;
    y:190px;
}
@media (max-width:1024.98px){
    .aside-panel {
        display: none;
    }
    main {
        height: auto;
        width: 1300px;
    }
    .popup {
        max-width: 90vw;
        min-height: 320px;
        position: fixed;
        /*width: 100%;*/
        width: 90vw;
     }
    .popup.arrow:before, .popup.hide-arrow:before,
    .popup .comm-info:empty,
    .popup .comm-info:not(:empty) ~ div,
    .popup .comm-info .community-links {
        display: none!important;
    }
    .popup .comm-info {
         overflow: auto;
         height: 100vh;
     }
    .popup .comm-info > .container {
        padding: 15px;
    }
    .popup .caption {
        display: block;
        text-align: center;
    }
    .popup .caption .caption-title {
        font-size: 1rem;
    }
    .popup .caption .caption-text, .popup .caption .buttons {
        display: block;
    }
    svg {
        position:absolute;
        left:0;
        top:0;
    }
    svg #FairwayLodge + foreignObject {
        x:400;
        y:250;
    }
    svg #BiltmoreSquare + foreignObject {
        y:100;
    }
    svg #Camelback + foreignObject {
        x:370;
        y:460;
    }
    svg > #\32 211 + foreignObject {
        x:320;
        y:430;
    }
    svg > #Optima + foreignObject {
        x:370;
        y:520;
    }
    svg > #EsplanadePlace + foreignObject {
        x:530;
        y:510;
    }
    svg > #VillageOnTheLakes + foreignObject {
        x:650;
        y:480;
    }
    svg > #BiltmoreGreens + foreignObject {
        x:600;
        y:40;
    }
    svg > #AltaVistaPark + foreignObject {
        x:770;
        y:230;
    }
    svg > BiltmoreHillsideVillas + foreignObject {
        x:550;
        y:40;
    }
    svg > #LincolnHills + foreignObject {
        x:1160;
        y:170;
    }
    svg > #Taliverde + foreignObject {
        x:290;
        y:490;
    }
    svg > #BiltmoreGates + foreignObject {
        x:350;
        y:0;
    }
    /*svg > rect:target + foreignObject {*/
    /*  x:0;*/
    /*  y:0;*/
    /*}*/
    /*svg > rect:target + foreignObject .popup {*/
    /*  top: 20px;*/
    /*  bottom: 20px;*/
    /*  left: 20px;*/
    /*  right: 20px;*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%)!important;*/
    /*}*/
    /*.popup.arrow:before {*/
    /*  display:none;*/
    /*}*/
}
@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --aside-panel-width: 36vw;
    }
    .aside-panel .page-section .community-links li {
        font-size:.75rem;
    }
}
/* Slideshow */
.slideshow-container {
    /*max-width: 100%;*/
    position: relative;
    margin: auto;
    width: 100%;
}

/* Hide the images by default */
.slideshow-container .mySlides {
    display: none;
}

/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev, .slideshow-container .next {
    background-color: rgba(0,0,0,0.3);
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
    background-color: rgba(0,0,0,0.8);
    text-decoration: none;
}

.slideshow-container .active {
    background-color: #717171;
}

/* Fading animation */
.slideshow-container .fading {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fading {
    from {opacity: .4}
    to {opacity: 1}
}